.header {
    background-color: #000;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
    font-size: 100px;
}
.hr {
      height: 3px;
      background-color: #ccc;
      border: none;
}
.text {
    text-align: center;
    color:
    font-size: 25px;
}
