.header {
    background-color: #ffffff;
    color: #000000;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}
.hr{
      height: 1px;
      background-color: #ccc;
      border: none;
}
